NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_USE_MOCK_BACKEND=true
NEXT_PUBLIC_ALLOW_LOCAL_ROLE_FALLBACK=true
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_PATHTRICK_SBT_ADDRESS=0x39632892C33435a76043343Ef17Ac03124627ba9
NEXT_PUBLIC_BNB_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
NEXT_PUBLIC_CHAIN_ID=97
